recordings/*
!recordings/.gitkeep

models/*
!models/.gitkeep
!models/insightface/
models/insightface/*
!models/insightface/.gitkeep

data/clusters/*
!data/clusters/.gitkeep

data/faces/*
!data/faces/.gitkeep
data/faces/processed/*
!data/faces/processed/.gitkeep

data/people/people.json

__pycache__/
**/__pycache__/
venv/